.app-main {
  width: 60%;
  /* height: 100vh; */
  margin-top: 40px;
  margin-left: 10px;
}

.app-main-note-edit {
  width: 100%;
  margin-top: 15px;
}

#title {
  display: block;
  border: 1px solid #ddd;
  width: 100%;
  padding: 10px;
  resize: none;
  font-size: 16px;
  border-radius: 10px;
  background-color: #252525;
  height: 50px;
  font-size: 2rem;
  padding: 10px;
  margin-right: 10px;
}

#author {
  display: block;
  border: 1px solid #ddd;
  width: 100%;
  padding: 10px;
  resize: none;
  font-size: 16px;
  border-radius: 10px;
  background-color: #252525;

}

#content {
  display: block;
  border: 1px solid #ddd;
  margin-top: 10px;
  width: 100%;
  height: calc(80vh - 200px);
  padding: 10px;
  resize: none;
  font-size: 16px;
  border-radius: 10px;
  background-color: #252525;
}

.app-main-note-edit .title .author:hover {
  border-color:#646cff;
}

.app-main-note-edit .author {
  /* height: 25px; */
  font-size: 1rem;
  padding: 5px;
}

.app-main-note-head {
  display: flex;
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.no-active-note {
  width:60%;
  font-size: 30px;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  color: #999;
}