.App {
  width: 1300px;
  height: 100vh;
  padding: 20px;
  overflow: hidden;
  display: flex;
}

#root {
  /* margin: 0 auto; */
  background-color:#1a1a1a;
  display: flex;
  justify-content: center;
  width: 100%;
}